.App {
  text-align: center;
}

.navbar {
  background-image: url(`${process.env.PUBLIC_URL}/images/head_band.jpg`);
  border-bottom: red 2px dotted;
}

img {
  object-fit: stretch;
  height: 325px;
  width: 550px;
  border-radius: 6px;
  /* object-position: 150px 0; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
